*.pyc
*.swp
*.swo
*.autopilot/*
*.s#*
*.b#?
*.ipynb_checkpoints*
*.o
*.d
*.lst
*.cwp
*.csv
*py.bak
*.jou
*.log
*.bit
*.elf
*.mcs
*.prm
*.htm
hardware/CW305_DesignStart/CW305_DesignStart.runs/*
!hardware/CW305_DesignStart/CW305_DesignStart.runs/impl_1/CW305_designstart_top.bit
!hardware/CW305_DesignStart/CW305_DesignStart.bit
hardware/CW305_DesignStart/CW305_DesignStart.cache/*
hardware/CW305_DesignStart/CW305_DesignStart.sim/*
hardware/CW305_DesignStart/CW305_DesignStart.ip_user_files/*
software/CW305_DesignStart/Build_Keil/objects/*

